body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f9fc;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #222;
}

/* HERO */
.hero {
  text-align: center;
  padding: 90px 20px;
}

.hero h1 {
  font-size: 52px;
  margin-bottom: 5px;
}

.hero h3 {
  font-weight: 400;
  color: gray;
}

.hero p {
  max-width: 650px;
  margin: 20px auto;
  font-size: 18px;
  color: #555;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin: 8px;
  font-weight: bold;
}

.primary {
  background: #2563eb;
  color: white;
}

.outline {
  border: 2px solid #2563eb;
  color: #2563eb;
}

.whatsapp {
  background: green;
  color: white;
}

/* SECTIONS */
.section {
  padding: 70px 60px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* PROJECT CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 480px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-top: 15px;
}

/* MINI BUTTONS */
.project-links {
  margin: 15px 0;
}

.mini-btn {
  padding: 8px 14px;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
}

.outline-mini {
  background: none;
  border: 1px solid #2563eb;
  color: #2563eb;
}

/* SKILLS */
.skill-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skill-grid span {
  background: white;
  padding: 12px 18px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* CONTACT */
.contact-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
}

.contact-form {
  margin-top: 25px;
  max-width: 500px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: white;
  margin-top: 40px;
  color: gray;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .card {
    width: 100%;
  }
}
